# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# OpenVDM specific
**/.DS_Store
database/openvdm_db_custom.sql
bin/build_cruise_tracks.py
bin/build_remote_directory.py
bin/preferences.sh
bin/sealog_post_cruise_export.py
bin/sealog_post_dive_export.py
server/plugins/*.py
server/plugins/parsers/*.py
server/etc/openvdm.yaml
www/app/Core/Config.php
www/app/templates/default/js/chartColors.js
www/app/templates/default/js/dataDashboardMainCustom.js
www/bower_components
www/etc/datadashboard.yaml
www/vendor
www/.htaccess
www/composer.lock
www/errorlog.html
www/node_modules
